
/MockitoDemo/.nb-gradle/
/MockitoDemo/build/
/MockitoDemo/.gradle/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/MatkakorttiMockito/.gradle/
/VerkkokauppaSpring/.nb-gradle/
/VerkkokauppaSpring/build/
/VerkkokauppaSpring/.gradle/
