
/MockitoDemo/.nb-gradle/
/MockitoDemo/build/
/MockitoDemo/.gradle/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/MatkakorttiMockito/.gradle/
/VerkkokauppaSpring/.nb-gradle/
/VerkkokauppaSpring/build/
/VerkkokauppaSpring/.gradle/
/IntJoukkoSovellus/.nb-gradle/
/IntJoukkoSovellus/build/
/IntJoukkoSovellus/.gradle/
/Tennis/.nb-gradle/
/Tennis/build/
/Tennis/.gradle/
/Laskin/.nb-gradle/
/Laskin/build/
/Laskin/.gradle/
/QueryLanguage/.nb-gradle/
/QueryLanguage/build/
/QueryLanguage/.gradle/
